* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    transition: top 0.2s;
}

.menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17px;
    width: 20px;
    background-color: #fff;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}

.menu-line {
    display: block;
    background: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}

.logo {
    margin-right: 59px;
}

.input-group {
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}

.input-search {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: transparent;
    border: none;
    width: 100%;
}

.button-search {
    padding: 0;
    background-color: transparent;
    border: none;
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icon-search {
    fill: #1F2022;
}

.icons-links {
    text-decoration: none;
    opacity: .24;
    margin-left: 50px;
}

.icons-links:hover {
    opacity: 0.6;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 45px;
}

.mobile-search {
    display: none;
}

.mobile-sidebar {
    display: none;
}

.sidebar {
    position: fixed;
    top: 114px;
    left: 0;
    height: calc( 100% - 114px);
    width: 250px;
    overflow: auto;
    padding-left: 32px;
    ;
    background-color: #fff;
}

.content {
    width: 100%;
    height: 400px;
    margin-top: 85px;
    padding-left: 300px;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 50px;
}

.nav-menu {
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 0;
    list-style-type: none;
}

.nav-item {
    margin-bottom: 28px;
}

.nav-link {
    text-decoration: none;
    fill: #898989;
    color: #898989;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: red;
    fill: red;
    text-decoration: none;
}

.nav-text {
    margin-left: 13px;
}

.nav-image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.nav-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}

.channel {
    position: relative;
    padding-bottom: 50px;
}

.channel-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202c;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 30px;
}

.channel-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.channel-text {
    margin-left: 20px;
}

.swiper-slide {
    /* padding-right: 15px; */
}

.swiper-slide-large {}

.video-thumb {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
    /* object-fit: cover; */
}

.video-thumb-large {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
    /* object-fit: cover; */
}

.thuimbal {
    width: 100%;
    object-fit: cover;
}

.thuimbal-large {
    width: 100%;
    /* object-fit: cover; */
    /* padding-right: 15px; */
}

.video-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}

.video-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    margin-top: 10px;
    margin-bottom: 4px;
}

.video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #c2c2c2;
}

.video-counter {
    display: flex;
}

.video-views {
    margin-right: 5px;
}

.video-views::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.channel-button {
    cursor: pointer;
}

.channel-subtext {
    font-size: 12px;
    color: #C2C2C2;
    font-weight: normal;
    margin-left: 20px;
}

.button-subscribe {
    font-size: 12px;
    color: #fff;
    background: red;
    border: none;
    border-radius: 14px;
    padding: 5px 15px;
    margin: auto;
    margin-right: 100px;
}

.slider-button {
    position: absolute;
    right: 0px;
    top: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
}

.input-search {
    outline: none;
}

@media(max-width:860px) {
    .user {
        margin-left: auto;
    }
    .icons {
        display: none;
    }
    .button-subscribe {
        display: none;
    }
    .channel-subtext {
        display: none;
    }
}

@media(max-width:640px) {
    .slider-button {
        display: none;
    }
    .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }
    .swiper-slide {
        margin-bottom: 40px;
    }
    .video-thumb {
        height: 250px;
    }
    .input-group {
        position: fixed;
        top: -100px;
        left: 24px;
        opacity: 0;
        width: 68%;
        margin-left: auto;
        transition: top 0.2s;
    }
    .mobile-search {
        display: block;
        margin-left: auto;
    }
    .input-group.is-open {
        opacity: 1;
        top: 20px;
    }
    .user {
        margin-left: auto;
    }
    .menu-button {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .content {
        padding-left: 32px;
    }
    .mobile-sidebar {
        display: block;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    .mobile-sidebar .nav-link {
        display: flex;
        flex-direction: column;
    }
    .mobile-sidebar .nav-menu {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 13px;
        padding-bottom: 11px;
        border-top: 1px solid #F1F1F1;
    }
    .nav-text {
        margin-left: 0;
        font-size: 10px;
    }
    .nav-item {
        margin-bottom: 0;
    }
}